html {
    width: 100%;
    height: auto;
    background: url('../../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;


}

@media only screen and (max-width: 24.43rem) {
    html {
        background: url('../../images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}