button {
    width: 22.12rem;
    height: 3.12rem;
    background-color: #382AE1;
    box-shadow: 0rem 1.25rem 1.25rem rgba(56, 42, 225, 0.190291);
    border-radius: 0.68rem;
    color: #ffff;
    font-size: 0.93rem;
    margin-top: 2.93rem;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #766CF1;
}

@media screen and (max-width: 24.43rem) {
    button {
        width: 17.43rem;
        margin-top: 1.43rem;
    }
    
}